{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


    <!-- Hover #1 -->
    <div class="box-1">
        <a style="text-decoration:none" href="/viewList">
        <div class="btn btn-one">
            <span>VIEW LIST</span>
        </div>
        </a>
    </div>
   
    <!-- Hover #2 -->
    <div class="box-2">
        <a style="text-decoration:none" href="/addList">
        <div class="btn btn-one">
            <span>ADD LIST</span>
        </div>
        </a>
    </div>


</body>
</html>